<%= form_for([@movie, @movie.reviews.build]) do |f| %>
  <br>
  <div class="field">
    <div id="star-rating"></div>
  </div>
  <div class="field">
  <h4>Write a review</h4>
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
  });
</script>